body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    grid-row: 1 / -1;
}

.header {
    grid-column: 2 / -1;
}

.main-content {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
}